[user]
	email = dacvuong202@gmail.com
	name = vdac
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nvim
[credential]
	useHttpPath = true
	helper = store
[alias]
	a = add --all
	ca = commit -am
	cm = commit -m
	###############
	d = diff
	###############
	pl = pull
	ps = push
	###############
	cl = clone
	cld = clone --depth 1

  
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

# default nvimdiff
; [merge]
;   tool = nvimdiff
; [mergetool]
;   prompt = false
;   keepBackup = false
; [mergetool "nvimdiff"]
;   layout = "LOCAL,BASE,REMOTE / MERGED"
 ; Using diffview.nvim
 [merge]
   tool = diffview
 [mergetool]
   prompt = false
   keepBackup = false
 [mergetool "diffview"]
   cmd = nvim -n -c "DiffviewOpen" "$MERGE"

