[user]
	email = dacvuong202@gmail.com
	name = vdac
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nvim
[credential]
	useHttpPath = true
	helper = store
[alias]
	a = add --all
	ca = commit -am
	cm = commit -m
	###############
	d = diff
	###############
	pl = pull
	ps = push
	###############
	cl = clone
	cld = clone --depth 1
  co = checkout
  st = status

# Add the following to your .gitconfig file.
# default nvimdiff
; [merge]
;   tool = nvimdiff
; [mergetool]
;   prompt = false
;   keepBackup = false
; [mergetool "nvimdiff"]
;   layout = "LOCAL,BASE,REMOTE / MERGED"
 ; Using diffview.nvim
# Add the following to your .gitconfig file.

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$REMOTE" "$LOCAL" 

# Add the following to your .gitconfig file.
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$REMOTE" "$BASE" "$LOCAL" --output "$MERGED"

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    line-numbers = true

[merge]
    conflictstyle = zdiff3
